.header{
    height: 60px;
    background-color: #5b9bd5;
    margin: 2px;
}
a{
    text-decoration: none;
    float: right;
    margin-right: 30px;
    color: white;
    border-radius: 10px;
}
.logo{
    width: 85px;
    margin: 0px 0 0px -10px;
}