.table{
    border-collapse: collapse;
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tr1,.tr3{
    height: 40px;
}
.tr2{
    height: 10px;
    background-color: #00ff00;
}
.tr4{
    height: 20px;background-color: black;
}