
.main,h1{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
}
img{
  max-width: 100%;
  display: none;
}

@media (aspect-ratio:16/9) {
  img{
    display: block;
    filter: drop-shadow(10px 10px 10px black);
  }
}