 /* add a div in center and width: 900px
include header with 2 lines text on left
include image below in center, width 750px
includer footer: left 3 lines content and on 
right some icon image,
not scrollable
add styling  */
.container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  overflow: hidden;
}
.heading{
  padding: 25px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.image{
  text-align: center;
}
img{
  width: 750px;
}
.line{
  background-color: aliceblue;
}
footer{
  margin: 20px 40px 120px 40px;
  background-color: aquamarine;
}
.footer{
  float: left;
}
.logo img{
  width: 80px;
}
.footer-text{
  width: 90%;
}