ul{
    list-style-type: none;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
li a{
    display: block;
    text-decoration: none;
    color: black;
    padding:10px 0 10px 15px;
}
li a:hover{
    background-color: red;
    color: white;

}
li a:active{
    background-color: red;
    color: white;
}
