.cat {
  height: 180px;
  width: 190px;
  position: relative;
  /* background-color: pink; */
}
.face {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
}
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 30%;
  background-color: white;
  border-radius: 50%;
}
.eye-left {
  left: 0px;
}
.eye-right {
  right: 0px;
}
/* creating eye flaps */
.eye::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 50%;
  background-color: red;
  animation: blink 2s infinite ease-in;
}
@keyframes blink {
  0% {
      height: 0;
  }
  80% {
      height: 0;
  }
  92% {
      height: 100%;
  }
  95% {
      height: 0;
  }
  97% {
      height: 100%;
  }
  100% {
      height: 0;
  }
}
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 40%;
  width: 20%;
  left: 40%;
  background-color: black;
  border-radius: 50%;
  animation: look-around 4s infinite linear;
}
.smile{
  position: absolute;
  background-color: red;
  border: 2px solid white;
  height: 10px;
  width: 30px;
  top:70%;
  left:40%;
  border-radius: 0  0 150px 150px;
  animation: smile 4s infinite linear;

  
}
@keyframes look-around {
  0% {
      transform: translate(0);
  }
  10% {
      transform: translate(50%, -25%);
  }

  20% {
      transform: translate(-100%, -25%);
  }

  100% {
      transform: translate(0, 0);
  }
}
@keyframes smile {
  0% {
    width: 10%;
    left:50%;

  }
  50% {
     
    width: 20%;
    height: 20px;
    left: 40%;

  }
  75% {
    left: 40%;
    width: 22%;
    height: 10px;
  }
  100% {
    width: 10%;
    left:50%;
  }
}