.sqaure{
    height: 200px;
    width: 200px;
    border: 20px dotted rgb(240, 210, 14);
    margin: 200px;
    /* animation-name: spinner;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    animation: spinner 3s linear 0s infinite;
    -moz-animation: spinner 3s linear 0s infinite;
    -ms-animation: spinner 3s linear 0s infinite;
    -o-animation: spinner 3s linear 0s infinite;
}
@keyframes spinner {
    from{
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}