.sqaure{
    height: 200px;
    width: 200px;
    
    background-color: pink;
    border: 5px solid black;
    transition-timing-function: ease;
    transition-delay: 3s;
    transition-duration: 5s;
    transition-property: background-color,border-radius,border-style;
    -moz-transition-property: background-color,border-radius,border-style;
    -webkit-transition-property: background-color,border-radius,border-style;
    -ms-transition-property: background-color,border-radius,border-style;
}
.sqaure:hover{
    border-style:dotted;
    border-radius: 50px;
    background-color: red;
}
.circle{
    height: 200px;
    width: 200px;
    background-color: pink;
    margin-top: 30px;
    border-radius: 50%;
    transition: height 5s ease 3s ,width 5s ease 3s ,background-color 4s ease 2s;
    -moz-transition: height 5s ease 3s ,width 5s ease 3s ,background-color 4s ease 2s;
    -webkit-transition: height 5s ease 3s ,width 5s ease 3s ,background-color 4s ease 2s;
    -ms-transition: height 5s ease 3s ,width 5s ease 3s ,background-color 4s ease 2s;
}
.circle:hover{
    height: 400px;
    width: 400px;
    background-color: red;

}