input{
    width: 400px;
    background-color:aqua;
    border: 0;
    margin: 5px;
    padding: 10px;
}
#calc-btn{
    background-color: slateblue;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin: 5px;
    border: 0;

}
