div {
    margin-left: auto;
    margin-right: auto;


}

h3 {
    float: left;
    margin-left: 10px;
}

a {
    text-decoration: none;
    float: right;
    margin-right: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 69, 118);
}
.container{
    
    box-shadow: 10px 5px 2px rgb(224, 224, 224); 
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 350px;
    border-top: 0;
    border: 3px solid black;padding: 0 10px 10px 0; background-color: rgb(243, 242, 242);

}
.content{
    text-align:center;background-color: rgb(255, 255, 255);
        box-shadow: 8px 8px 5px rgb(224, 224, 224);
        width:325px;height:200px;margin-top: 60px;
}