 *{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .container{
            width: 100%;
        }
        .header{
            height: 60px;
            background-color: #5b9bd5;
            margin: 2px;
        }
        a{
            text-decoration: none;
            float: right;
            margin-right: 30px;
            color: white;
            border-radius: 10px;
        }
        .logo{
            width: 85px;
            margin: 0px 0 0px -10px;
        }
        .content{
            width: 1070px;
            margin: 50px auto 50px auto;
            height: 900px;
        }
        .img1{
            width: 532px;
            height: 300px;
        }
        .img2{
            width: 532px;
            height: 300px;
            float: right;
        }
        .p-left{
            float: left;
            width: 450px;
            padding: 20px 40px 0 40px;
        }
        .p-right{
            float: right;
            width: 450px;
            padding: 20px 40px 0 40px;
        }
        .videos{
            height: 300px;
            margin-top: 350px;
            margin-left: auto;
            margin-right: auto;
            border: 0;
        }
        .video{
            width: 320px;
            height: 200px;
        }
        .mid-video{
            margin-left: 40px;
            margin-right: 40px;

        }
        iframe{
            border: 1px solid #5b9bd5;
        }
        .task-buttons a{ 
            float: right;
            margin: 30px;
            color: white;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(231, 69, 118);
        }